{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/followers.css' %}">
    <title>Pollaway - Users I Follow</title>
</head>
<body>
    <main id="followers-main">
        <header>
            <button>Following({{lof}})</button>
            <button><a href=" {% url 'my-account' %} ">Go Back</a></button>
        </header>
        <section class="followers-body">
            {%if lof%}
                {% for user in following %}
                    <div class="follower">
                        <a href=" {% url 'profile' user.user.id %} ">
                            {%if user.user.my_profile%}
                                <img src=" {{user.user.my_profile.image.url}} " alt="user-img">
                            {%else%}
                                <img src=" {{user.image.url}} " alt="user-img">
                            {%endif%}
                            <p><b>{{user.user.username}}</b></p>
                        </a>
                    </div>
                {%endfor%}
            {%else%}
                <h1 style="text-align: center;">You Are Following <span style="color:rgb(161, 18, 161)">No One</span></h1>
            {%endif%}
        </section>
    </main>
</body>
</html>